@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label {
  margin-bottom: 4px;
}

.input {
  width: 100%;
  padding: 8px 12px;
  color: $dark;
  border: 2px solid $secondary;
  border-radius: 8px;
  outline: none;
  font-size: 16px;

  &:focus {
    border-color: $primary;
  }
}

.error {
  margin-top: 4px;
}

