@import '../../styles/variables.scss';

.container {
  display: block;
  padding: 0 0 20px;

}
.label {
  margin: 0 0 4px;
}
.input {
  display: block;
  width: 100%;
  padding: 8px 12px;
  margin: 0 0 8px;
  color: $dark;
  border: 2px solid $secondary;
  border-radius: 8px;
  outline: none;
  font-size: 16px;

  &:focus {
    border-color: $primary;
  }
}


