@import-normalize;
@import '../styles/variables';

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font: 16px/1.25 Arial, sans-serif;
  min-width: 320px;
}

a {
  color: $primary;

  &:hover {
    text-decoration: none;
  }
}

h1{
  font-size:24px;
  font-weight: normal;
  margin: 0 0 20px;
}
h2{
  margin: 0 0 16px;
  font-size: 22px;
  font-weight: normal;
}
h3{
  font-size: 20px;
  margin: 0 0 16px;
}
