@import '../../styles/variables.scss';

.container{
  background: $primary;
  padding: 20px;
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;
  a{
    color:#fff;
  }
  .panel{
    display: flex;
    align-items: center;
  }
  .logout{
    @include transparentButton;
    color:#fff;
    font-size: 16px;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  .logo{
    cursor: pointer;
    width: 70px;
    height: 70px;
    img{
      display: block;
      width: 100%;
    }
  }
}
